p {
    font-size: 20px;
  }

.header{
    text-align: center;
    color: white;
    background-color: black;
}
.ville{
    background-color: lightgrey;
    text-align: center;
}
.footer{
    background-color: lightslategrey;
}